<div class="file-upload-container">
  <img *ngIf="isFileExist" class="final-result" src="{{imageControlLink.value}}" alt="image error">
  <ng-container *ngIf="!isFileExist">
    <image-cropper
      [imageChangedEvent]="imageChangedEvent"
      [maintainAspectRatio]="true"
      [aspectRatio]="127/51"
      format="png"
      (imageCropped)="imageCropped($event)">
    </image-cropper>
    <div *ngIf="croppedImage">
      <img class="final-result" [src]="croppedImage" alt="image">
    </div>
  </ng-container>
  <div (click)="uploadFile.click()" class="file-upload-button">
    <button mat-raised-button color="primary">Choose File</button>
    <input #uploadFile (change)="fileChangeEvent($event)" type='file' style="display:none"/>
  </div>
</div>



