<mat-form-field class="choose-file-area">
  <div>
    <mat-toolbar>
      <input matInput [(ngModel)]="fileAttr" readonly name="name" />
      <button mat-flat-button color="primary">Browse File</button>
    </mat-toolbar>
    <input id="uploadFile" name="uploadFile" type="file" (change)="fileChangeEvent($event)">
  </div>
</mat-form-field>

<ng-container *ngIf="isFileChoose">
  <image-cropper
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="4 / 3"
    format="png"
    (imageCropped)="imageCropped($event)">
  </image-cropper>
  <hr>
  <img class="final-result" [src]="croppedImage">
</ng-container>


