.choose-file-area {
  width: 100%;
}

.final-result {
  border: 1px solid black;
  width: 100%;
}

.mat-toolbar-single-row {
  height: 20px;
  background: transparent;
}

.mat-toolbar-single-row button {
  width: 200px;
}

.mat-form-field {
  width: 100%;
}

.file-upload-button {
  padding-left: 30%;
  padding-bottom: 20px;
}
