<div class="ctor-main">
  <div class="example-container">
    <h2>Mix</h2>
    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Бренд</mat-label>
      <mat-select [formControl]="brandControl">
        <mat-option>Усi</mat-option>
        <mat-option *ngFor="let option of brands$ | async" [value]="option.id">
          {{option.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <h2>Tobaccos</h2>
    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[todoList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
    </div>
  </div>

</div>


