<div class="popup-container" *ngIf="editTagForm">
  <h1 class="title">Update Tag</h1>
  <div class="popup-data">
    <form [formGroup]="editTagForm" class="example-form">
      <div class="edit-tag-container">
        <label class="field">
          <span class="field-label">Tag Name</span>
          <input type="text" formControlName="name" (keyup)="onChange()">
        </label>
        <label class="check-row">
          <input type="checkbox" formControlName="isGlobal">
          <span>Is Global</span>
        </label>
        <div class="tag-view-container">
          <div class="tags-container">
            <app-tag [name]="nameControl.value" [color]="color" [type]="TagType.Bordered"></app-tag>
            <app-tag [name]="nameControl.value" [color]="color" [type]="TagType.Filled"></app-tag>
          </div>
          <button class="button colors" type="button" (click)="toggle=!toggle;">
            Choose color
          </button>
          @if (toggle) {
            <input type="color" [(ngModel)]="color" [ngModelOptions]="{standalone: true}">
          }
        </div>
      </div>
    </form>
    <div class="popup-action-container">
      <button class="popup-btn create-btn-color" type="button" (click)="onSave()">Update</button>
      <button class="popup-btn cancel-btn-color" type="button" (click)="onCancel()">Cancel</button>
    </div>
  </div>
</div>
