<div class="example-container mat-elevation-z8">
  <div class="example-table-container">
    <mat-progress-bar *ngIf="isLoadingResults" mode="query"></mat-progress-bar>
    <table mat-table [dataSource]="brands" matSort matSortActive="name" matSortDisableClear
           matSortDirection="asc">
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef>Лого</th>
        <td mat-cell *matCellDef="let row" (click)="onBrandList(row.id)">
          <img class="brand-card-image" src="{{row.image?.link}}" alt="image"></td>
      </ng-container>
<!--      TODO: сделать имя ближе к картинке-->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Назва</th>
        <td mat-cell *matCellDef="let row" (click)="onBrandList(row.id)"> {{ row.name }}</td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-secondary-columns">Опис</th>
        <td mat-cell *matCellDef="let row" (click)="onBrandList(row.id)"> {{ row.description }}</td>
      </ng-container>
      <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-secondary-columns">Країна</th>
        <td mat-cell *matCellDef="let row" (click)="onBrandList(row.id)"> {{ row.country.name }}</td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Дія</th>
        <td mat-cell *matCellDef="let row">
          <mat-icon class="icon blue-color" aria-hidden="false" fontIcon="settings" (click)="onUpdate(row.id)"></mat-icon>
          <mat-icon class="icon red-color" fontIcon="delete" (click)="onDelete(row.id)"></mat-icon>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
<!--        <td class="mat-cell" colspan="4">No data matching the filter "{{ input.value }}"</td>-->
      </tr>
    </table>
  </div>
  <mat-paginator
    (page)="handlePageEvent($event)"
    [length]="totalRows"
    [pageIndex]="currentPage"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    aria-label="Select page">
  </mat-paginator>
</div>
