.example-container {
  position: relative;
  padding: 20px 0 20px 0;

  .example-table-container {
    position: relative;
    min-height: 140px;
    max-height: 90%;
    overflow: auto;

    @media (max-width: 480px) {
      .brand-card-image {
        width: 50px;
      }
    }

    @media (min-width: 480px) {
      .brand-card-image {
        width: 100px;
      }
    }

    .blue-color {
      margin-right: 15px;
    }
  }
}

tr.mat-mdc-row:hover {
  cursor: pointer;
}
