<div class="popup-container">
  <h1 mat-dialog-title>Create Tag</h1>
  <div class="popup-data">
    <form [formGroup]="createTagForm" class="example-form">
      <div class="create-tag-container">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" (keyup)="onChange()">
        </mat-form-field>
        <mat-slide-toggle formControlName="isGlobal">Is Global</mat-slide-toggle>
        <div class="tag-view-container">
          <div class="tags-container">
            <app-tag [name]="nameControl.value" [color]="color" [type]="TagType.Bordered"></app-tag>
            <app-tag [name]="nameControl.value" [color]="color" [type]="TagType.Filled"></app-tag>
          </div>
          <button mat-flat-button
                  class="button colors"
                  [(colorPicker)]="color"
                  (click)="toggle=!toggle;">
            Choose color
          </button>
        </div>
      </div>
    </form>
    <div mat-dialog-actions class="popup-action-container">
      <button class="button popup-actions-button purple-background-color" mat-flat-button (click)="onSave()">Create
      </button>
      <button class="button popup-actions-button purple-background-color" mat-flat-button (click)="onSave(true)">
        Create
        ще
      </button>
      <button class="button popup-actions-button cancel-color" mat-flat-button (click)="onCancel()">Cancel</button>
    </div>
  </div>
</div>
