<div class="popup-container">
  <h1 mat-dialog-title>Створити новий Тег</h1>
  <form [formGroup]="createTagForm" class="example-form">
    <div class="create-tag-container">
      <div class="side">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Назва тегу</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
      </div>
    </div>
  </form>
  <div mat-dialog-actions class="popup-action-container">
    <button class="button popup-actions-button create-color" mat-flat-button (click)="onSave()">Створити</button>
    <button class="button popup-actions-button create-color" mat-flat-button (click)="onSave(true)">Створити ще</button>
    <button class="button popup-actions-button cancel-color" mat-flat-button (click)="onCancel()">Вiдмiнити</button>
  </div>
</div>
