<div class="table-container">
  <div class="table-top-panel">
    <form [formGroup]="brandFilterForm" class="example-form test">
      <mat-form-field class="example-full-width">
        <mat-label>Filter by Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <app-country-select [control]="countryControl"></app-country-select>
      <div>
        <mat-button-toggle-group #group="matButtonToggleGroup">
          <mat-button-toggle (change)="switchTableView(TableTypes.Card)">
            <mat-icon>view_module</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle (change)="switchTableView(TableTypes.List)">
            <mat-icon>view_list</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </form>
    <button *ngIf="user?.isAdmin" class="button" mat-flat-button (click)="onCreate()">Створити новий</button>
  </div>

  <div *ngIf="isTableViewCard; else listPage">
    <app-brand-cards [filter$]="filter$"></app-brand-cards>
  </div>
  <ng-template #listPage>
    <app-brand-list [filter$]="filter$"></app-brand-list>
  </ng-template>
</div>


