<div class="popup-container">
  <h1 mat-dialog-title>Редакувати Табак</h1>
  <form *ngIf="editTobaccoForm" [formGroup]="editTobaccoForm" class="example-form">
    <div class="create-tobacco-container">
      <div class="side">
        <app-image-upload></app-image-upload>
      </div>
      <div class="side">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Назва тютюну</mat-label>
          <input matInput formControlName="name" (keyup)="onChange()">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Бренд</mat-label>
          <input matInput disabled [value]="data.tobacco.brand.name">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Важкість</mat-label>
          <mat-select formControlName="heavinessId">
            <mat-option *ngFor="let option of heaviness$ | async" [value]="option.id">
              {{option.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Лінійки</mat-label>
          <mat-select formControlName="lineId">
            <mat-option *ngFor="let item of linesOption$ | async" [value]="item.id">
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="side">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Опис</mat-label>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
        <mat-form-field class="example-chip-list">
          <mat-label>Tags</mat-label>
          <mat-chip-grid #chipGrid aria-label="Fruit selection">
            <mat-chip-row *ngFor="let tag of selectedTags" (removed)="removeTag(tag)">
              {{tag.name}}
              <button matChipRemove [attr.aria-label]="'remove ' + tag.name">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
          </mat-chip-grid>
          <input placeholder="New Tag..." #tagInput
                 [formControl]="tagControl"
                 [matChipInputFor]="chipGrid"
                 [matAutocomplete]="auto"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let tag of filteredTags" [value]="tag">
              {{tag.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
  </form>
  <div mat-dialog-actions class="popup-action-container">
    <button class="button popup-actions-button edit-color" mat-flat-button (click)="onSave()">Змінити</button>
    <button class="button popup-actions-button cancel-color" mat-flat-button (click)="onCancel()">Cкасувати</button>
  </div>
</div>
