<div class="popup-container">
  <h1 mat-dialog-title>Update Tobacco</h1>
  @if (editTobaccoForm) {
    <form [formGroup]="editTobaccoForm" class="example-form">
      <div class="create-tobacco-container">
        <div class="side">
          <app-image-upload [aspectRatio]="aspectRatio"></app-image-upload>
        </div>
        <div class="side">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Tobacco Name</mat-label>
            <input matInput formControlName="name" (keyup)="onChange()">
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Brand</mat-label>
            <input matInput disabled [value]="data.tobacco.brand.name">
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Heaviness</mat-label>
            <mat-select formControlName="heavinessId">
              @for (option of heaviness$ | async; track option) {
                <mat-option [value]="option.id">
                  {{option.name}}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Lines</mat-label>
            <mat-select formControlName="lineId">
              @for (item of linesOption$ | async; track item) {
                <mat-option [value]="item.id">
                  {{item.name}}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div class="side">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Tags</mat-label>
            <mat-chip-grid #chipGrid aria-label="Fruit selection">
              @for (tag of selectedTags; track tag) {
                <mat-chip-row (removed)="removeTag(tag)">
                  {{tag.name}}
                  <button matChipRemove [attr.aria-label]="'remove ' + tag.name">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip-row>
              }
            </mat-chip-grid>
            <input placeholder="New Tag..." #tagInput
              [formControl]="tagControl"
              [matChipInputFor]="chipGrid"
              [matAutocomplete]="auto"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
              <mat-autocomplete #auto="matAutocomplete">
                @for (tag of filteredTags; track tag) {
                  <mat-option [value]="tag">
                    {{tag.name}}
                  </mat-option>
                }
              </mat-autocomplete>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Taste</mat-label>
              <mat-chip-grid #chipTasteGrid aria-label="Fruit selection">
                @for (tag of selectedTasteTags; track tag) {
                  <mat-chip-row (removed)="removeTasteTag(tag)">
                    {{tag.name}}
                    <button matChipRemove [attr.aria-label]="'remove ' + tag.name">
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip-row>
                }
              </mat-chip-grid>
              <input placeholder="New Tag..." #tagTasteInput
                [formControl]="tagTasteControl"
                [matChipInputFor]="chipTasteGrid"
                [matAutocomplete]="autoTaste"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
                <mat-autocomplete #autoTaste="matAutocomplete">
                  @for (tag of filteredTasteTags; track tag) {
                    <mat-option [value]="tag">
                      {{tag.name}}
                    </mat-option>
                  }
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>
        </form>
      }
      <div class="popup-action-container">
        <button class="popup-btn create-btn-color" (click)="onSave()">Update</button>
        <button class="popup-btn cancel-btn-color" (click)="onCancel()">Cancel</button>
      </div>
    </div>
