@import '../../../../scss/variables-dark';

.card-container {
  gap: 36px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  @apply grid;
  padding: 20px 0 20px 0;

  @media screen and (min-width: 100px) and (max-width: 767px){
    grid-template-columns: repeat(2,1fr)!important;
  }

  .brand-card {
    border-radius: 8px;
    cursor: pointer;
    transition: transform .5s;

    .brand-card-image {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }

    .info {
      max-height: 68px;
      padding: 8px 16px;
      transition: max-height .2s ease 0s;
    }

    .mat-mdc-card-content {
      padding-bottom: 0;
    }

    .description {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 12px;
      letter-spacing: 0.04rem;
    }

    .title {
      font-size: 1.1em;
      letter-spacing: 0.04rem;
    }

  }

  .brand-card:hover {
    transform: scale(1.1);
  }

}

.mat-mdc-paginator {
  border-radius: 15px;
}
