@import '../../../../scss/variables-dark';

.card-container {
  gap: 36px;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: auto;
  @apply grid;
  padding: 20px 0 20px 0;

  .brand-card {
    border-radius: 8px;
    box-shadow: none;
    cursor: pointer;
    transition: transform .5s;
    color: #d3d3d3;
    background-color: $card-background-color;
    border: 1px solid #2e2e2e;

    .cover {
      width: 100%;

      .image {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        height: 100%;
        width: 100%;
      }
    }

    .info {
      max-height: 68px;
      padding: 8px 16px;
      transition: max-height .2s ease 0s;
    }

    .mat-mdc-card-content {
      padding-bottom: 0;
    }

    .description {
      color: #8e8e8e;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 12px;
      letter-spacing: 0.04rem;
    }

    .title {
      font-size: 1.1em;
      color: white;
      letter-spacing: 0.04rem;
    }

  }

  .brand-card:hover {
    transform: scale(1.1);
  }

}

//.card-container {
//  display: grid;
//  gap: 24px;
//  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
//  @apply grid;
//  padding: 20px 0 20px 0;
//
//  .brand-card {
//    border-radius: 15px;
//    box-shadow: none;
//    cursor: pointer;
//    transition: transform .5s;
//    color: #d3d3d3;
//    background-color: $card-background-color;
//    //align-items: center;
//    border: 1px solid #2e2e2e;
//
//    .cover {
//      height: 9rem;
//      width: 100%;
//
//      .image {
//        border-top-left-radius: 15px;
//        border-top-right-radius: 15px;
//        height: 100%;
//        width: 100%;
//      }
//    }
//
//    .info {
//      //height: 68px;
//      max-height: 68px;
//      padding: 16px 16px;
//      transition: max-height .2s ease 0s;
//    }
//
//    .mat-mdc-card-content {
//      padding-bottom: 0;
//    }
//
//    //.title {
//    //  font-size: 1.1em;
//    //  text-align: center;
//    //}
//
//  }
//
//  .brand-card:hover {
//    transform: scale(1.1);
//  }
//
//}

.mat-mdc-paginator {
  border-radius: 15px;
}
