<div class="brand-container" *ngIf="brands">
  <mat-progress-bar *ngIf="isLoadingResults" mode="query"></mat-progress-bar>
  <div class="card-container">
    <mat-card class="brand-card" *ngFor="let brand of brands">
      <a class="image-link" [routerLink]="['/tobaccos/', brand.id]">
        <img mat-card-image class="brand-card-image" src="{{brand.image.link}}" alt="image error">
      </a>
      <div class="info">
        <span class="title">{{ brand.name }}</span><br>
        <span class="description">{{ brand.description }}</span>
      </div>
    </mat-card>
  </div>

  <mat-paginator
    (page)="handlePageEvent($event)"
    [length]="totalRows"
    [pageIndex]="currentPage"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    aria-label="Select page">
  </mat-paginator>
</div>
