.tag {
  border: solid white 2px;
  border-radius: 20px;
  color: white;
  margin-bottom: 3px;
  padding: 6px 12px;
  font-size: 14px;
  font-family: Roboto, serif;
  transition: transform .3s;

  &:hover {
    transition: transform .3s;
    transform: scale(1.1);
    cursor: default;
  }
}
