<div class="table-container">
  <div class="table-top-panel">
    <mat-form-field>
      <mat-label>Filter by Name</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>
    <button class="button" mat-flat-button (click)="onCreate()">Створити новий</button>
  </div>
  <div class="example-container mat-elevation-z8">
    <mat-progress-bar *ngIf="isLoadingResults" mode="query"></mat-progress-bar>
    <div class="example-table-container">
      <table mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDisableClear
             matSortDirection="asc">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Назва</th>
          <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>
        <ng-container matColumnDef="tag">
          <th mat-header-cell *matHeaderCellDef>Тег</th>
          <td mat-cell *matCellDef="let row">
            <div class="tag-container">
              <app-tag [color]="row.color" [name]="row.name" [isBordered]="false"></app-tag>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="isGlobal">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Глобальний</th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox class="example-margin" [disabled]="true" [checked]="row.isGlobal"></mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Дія</th>
          <td mat-cell *matCellDef="let row">
            <mat-icon class="icon edit" aria-hidden="false" fontIcon="settings" (click)="onUpdate(row.id)"></mat-icon>
            <mat-icon class="icon delete" fontIcon="delete" (click)="onDelete(row.id)"></mat-icon>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
    </div>
    <mat-paginator
      (page)="handlePageEvent($event)"
      [length]="totalRows"
      [pageIndex]="currentPage"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      aria-label="Select page">
    </mat-paginator>
  </div>
</div>

