.tobacco-container {
  .tobacco-top-panel {

    .mat-button-toggle-group {
      top: -10px;

      @media screen and (max-width: 767px){
        top: 0;
      }
    }

    margin-bottom: -1.25em !important;

    @media screen and (max-width: 767px){
      margin-bottom: 1px !important;
    }

    ::ng-deep {
      .mat-button-toggle-button{
        height: 56px !important;

        @media screen and (max-width: 767px){
          height: 45px !important;
        }
      }
    }

    .button {
      width: 210px;
      height: 56px;
      margin-bottom: 20px;
    }

    .example-full-width {
      display: flex;
      justify-content: space-between;
      gap: 0.5rem;

      @media screen and (min-width: 1px) and (max-width: 767px){
        flex-direction: column;
      }
    }

    .mat-mdc-form-field {
      //max-width: 169px;
    }
  }

  .table-container {
    padding-top: 20px;

    .example-table-container {

      .tobacco-table-image {
        width: 77px;
        height: 77px;
      }

      .blue-color {
        margin-right: 6px;
      }

      .view {
        margin-right: 9px;
      }

      .tag-container {
        display: flex;
        flex-wrap: wrap;
        gap: 0.3rem;
      }

      .mat-column-globalTags {
        //width: 15%;
      }

      .action-container {
        display: flex;
      }

      .rating-container {
        display: flex;
      }
    }
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 24px;
    grid-template-rows: auto;
    padding: 20px 0 20px 0;

    @media screen and (min-width: 768px) and (max-width: 1000px){
      grid-template-columns: repeat(4,1fr) !important;
    }

    @media screen and (min-width: 1px) and (max-width: 767px){
      grid-template-columns: repeat(2,1fr) !important;
      gap: 10px;
    }

    .brand-card {
      border-radius: 8px;
      transition: transform .5s;
      overflow: hidden;

      @media (min-width: 768px) {
        &:hover {
          transform: scale(1.1);
        }
      }

      .image-link {
        max-height: 300px;
        max-width: 300px;

        .image {
          width: 100%;
        }
      }

      .info {
        padding: 8px 16px;
        transition: max-height .2s ease 0s;
      }

      .mat-mdc-card-content {
        padding-bottom: 0;
      }

      .description {
        padding-top: 8px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 12px;
        letter-spacing: 0.04rem;
      }

      .title {
        font-size: 1.1em;
        letter-spacing: 0.04rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        .title-link {
          text-decoration: none !important;
        }

      }

      .rating-container {
        padding-top: 8px;
        display: flex;
        align-items: center;
      }

    }
  }

  .mat-mdc-paginator {
    border-radius: 15px;
  }

  ::ng-deep {
    .star-container {
      margin-left: 0;
    }
  }



}

.aaa {
  display: flex;
  gap: 15px;


}

