<div class="tobacco-container">
  <div class="tobacco-top-panel">
    <form [formGroup]="filterForm" class="example-form">
      <mat-form-field>
        <mat-label>Filter by Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Бренд</mat-label>
        <mat-select formControlName="brandId">
          <mat-option>Усi</mat-option>
          <mat-option *ngFor="let option of brands$ | async" [value]="option.id">
            {{option.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Країна</mat-label>
        <mat-select formControlName="countryId">
          <mat-option>Усi</mat-option>
          <mat-option *ngFor="let option of countries$ | async" [value]="option.id">
            {{option.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Лінійка</mat-label>
        <mat-select formControlName="lineId">
          <mat-option *ngFor="let option of linesOption" [value]="option.id">
            {{option.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Важкість</mat-label>
        <mat-select formControlName="heavinessId">
          <mat-option>Усi</mat-option>
          <mat-option *ngFor="let option of heaviness$ | async" [value]="option.id">
            {{option.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <button class="button" mat-flat-button (click)="onCreate()">Create</button>
  </div>



  <div class="card-container">
    <mat-card class="tobacco-card" *ngFor="let tobacco of tobaccos">
      <img mat-card-image class="image" src="{{tobacco.image?.base64}}" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <div class="rating"><span>Rating</span></div>
        <mat-card-title>{{tobacco.name}}</mat-card-title>
        <div class="description">
          <p>
            {{tobacco.description}}
          </p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <mat-paginator
    (page)="handlePageEvent($event)"
    [length]="totalRows"
    [pageIndex]="currentPage"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    aria-label="Select page">
  </mat-paginator>
</div>


