.tobacco-top-panel {

  .button {
    width: 210px;
    height: 56px;
    margin-bottom: 20px;
  }

  .example-full-width {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
  }
}
