<div class="tobacco-container">
  <div class="tobacco-top-panel">
    <form [formGroup]="filterForm" class="example-form">
      <mat-form-field class="filter">
        <mat-label>Filter by Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <mat-form-field class="filter">
        <mat-label>Смаки</mat-label>
        <mat-select formControlName="tags">
          <mat-option>Усi</mat-option>
<!--          <mat-option *ngFor="let option of tags$ | async" [value]="option.id">-->
<!--            {{option.name}}-->
<!--          </mat-option>-->
        </mat-select>
      </mat-form-field>
      <mat-form-field class="filter">
        <mat-label>Бренд</mat-label>
        <mat-select formControlName="brandId">
          <mat-option>Усi</mat-option>
          <mat-option *ngFor="let option of brands$ | async" [value]="option.id">
            {{option.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="filter">
        <mat-label>Країна</mat-label>
        <mat-select formControlName="countryId">
          <mat-option>Усi</mat-option>
          <mat-option *ngFor="let option of countries$ | async" [value]="option.id">
            {{option.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="filter">
        <mat-label>Лінійка</mat-label>
        <mat-select formControlName="lineId">
          <mat-option *ngFor="let option of linesOption" [value]="option.id">
            {{option.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="filter">
        <mat-label>Важкість</mat-label>
        <mat-select formControlName="heavinessId">
          <mat-option>Усi</mat-option>
          <mat-option *ngFor="let option of heaviness$ | async" [value]="option.id">
            {{option.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="filter">
        <mat-button-toggle-group #group="matButtonToggleGroup">
          <mat-button-toggle (change)="checked = !checked">
            <mat-icon>view_list</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle (change)="checked = !checked">
            <mat-icon>view_module</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div class="filter">
        <button class="button" mat-flat-button (click)="onCreate()">Create</button>
      </div>
    </form>
  </div>

  <app-tobacco-table-card *ngIf="!checked" [tobaccos]="tobaccos"></app-tobacco-table-card>
  <app-tobacco-table-list *ngIf="checked" [tobaccos]="tobaccos" (getTobaccosEmit)="getTobaccos()">
  </app-tobacco-table-list>

  <mat-paginator
    (page)="handlePageEvent($event)"
    [length]="totalRows"
    [pageIndex]="currentPage"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    aria-label="Select page">
  </mat-paginator>
</div>
