<div class="table-container">
  <div class="table-top-panel">
    <mat-form-field>
      <mat-label>Filter by Name</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>
<!--    <button class="button" mat-flat-button (click)="onCreate()">Створити новий</button>-->
  </div>
  <div class="example-container mat-elevation-z8">
    <div class="example-loading-shade" *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="example-table-container">
      <table mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDisableClear matSortDirection="asc">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Назва</th>
          <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>
        <ng-container matColumnDef="rating">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Рейтинг</th>
          <td mat-cell *matCellDef="let row"> 12345 </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Дія</th>
          <td mat-cell *matCellDef="let row">
            <mat-icon class="icon edit" aria-hidden="false" fontIcon="settings"></mat-icon>
            <mat-icon class="icon delete" fontIcon="delete"></mat-icon>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
    </div>
    <mat-paginator
      (page)="handlePageEvent($event)"
      [length]="totalRows"
      [pageIndex]="currentPage"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      aria-label="Select page">
    </mat-paginator>
  </div>
</div>
