<div class="popup-container" *ngIf="updateBrandForm">
  <h1 mat-dialog-title>Редагувати Бренд</h1>
  <form [formGroup]="updateBrandForm" class="example-form">
    <div class="create-tobacco-container">
      <div class="side">
        <app-image-upload [aspectRatio]="aspectRatio"></app-image-upload>
      </div>
      <div class="side">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Назва бренду</mat-label>
          <input matInput formControlName="name" (keyup)="onChange()">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Країна</mat-label>
          <mat-select formControlName="countryId">
            <mat-option *ngFor="let item of countries$ | async" [value]="item.id">
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Опис</mat-label>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
      </div>
      <div class="side">
        <button class="button add-line-btn example-full-width cancel-color" mat-flat-button (click)="addLine()">Добавити лiнiйку</button>
        <div formArrayName="lines">
          <div *ngFor="let line of getLines.controls; let i=index" class="brand-line-container">
            <div [formGroupName]="i" class="inp-brand-line">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Назва лiнiйки</mat-label>
                <input formControlName="name" matInput>
              </mat-form-field>
              <br>
            </div>
            <button mat-mini-fab color="warn" class="btn-remove" (click)="onRemove(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div mat-dialog-actions class="popup-action-container">
    <button class="button popup-actions-button blue-color" mat-flat-button (click)="onSave()">Змінити</button>
    <button class="button popup-actions-button" mat-flat-button (click)="onCancel()">Cкасувати</button>
  </div>
</div>
