.popup-container {

  .example-form {
    padding: 10px;
  }

  .create-tobacco-container {
    display: flex;

    .side {
      width: 33%;
      padding: 10px;
    }

    .example-full-width {
      width: 100%;
    }

    .add-line-btn {
      height: 58px;
      margin-bottom: 24px;
    }

    .brand-line-container {
      display: flex;

      .inp-brand-line {
        width: 100%;
      }

      .btn-remove {
        margin-top: 5px;
        margin-left: 30px;
      }
    }
  }
}
