<div class="popup-container" *ngIf="updateBrandForm">
  <h1>Update Brand</h1>
  <form [formGroup]="updateBrandForm" class="example-form">
    <div class="create-tobacco-container">
      <div class="side">
        <app-image-upload [aspectRatio]="aspectRatio"></app-image-upload>
      </div>
      <div class="side">
        <label class="ui-field">
          <span class="ui-label">Brand Name</span>
          <input class="ui-input" type="text" formControlName="name" (keyup)="onChange()">
        </label>
        <app-search-select
          label="Country"
          placeholder="Select country"
          [options]="countries$ | async"
          [control]="countryIdControl">
        </app-search-select>
        <label class="ui-field">
          <span class="ui-label">Description</span>
          <textarea class="ui-textarea" formControlName="description"></textarea>
        </label>
      </div>
      <div class="side">
        <button class="button add-line-btn example-full-width purple-background-color" type="button" (click)="addLine()">Add line</button>
        <div formArrayName="lines">
          <div *ngFor="let line of getLines.controls; let i=index" class="brand-line-container">
            <div [formGroupName]="i" class="inp-brand-line">
              <label class="ui-field">
                <span class="ui-label">Line Name</span>
                <input class="ui-input" type="text" formControlName="name">
              </label>
              <br>
            </div>
            <button type="button" class="btn-remove" (click)="onRemove(i)">
              ×
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="popup-action-container">
    <button class="popup-btn create-btn-color" type="button" (click)="onSave()">Update</button>
    <button class="popup-btn cancel-btn-color" type="button" (click)="onCancel()">Cancel</button>
  </div>
</div>
