.table-container {
  padding-top: 20px;

  .example-table-container {

    .image {
      width: 77px;
      height: 77px;
    }

    .edit {
      margin-right: 6px;
    }

    .tag-container {
      display: flex;
      flex-wrap: wrap;
      gap: 0.3rem;
    }

    .mat-column-globalTags {
      //width: 15%;
    }

    .action-container {
      display: flex;
    }

    .rating-container {
      display: flex;
    }
  }
}


