<div class="popup-container">
  <div class="user-data">
    <div class="user-pictures"></div>
  </div>
  <form [formGroup]="createLoginForm" class="example-form" *ngIf="createLoginForm">
    <div class="create-account-container">
      <div class="side">
        <label class="field">
          <span class="field-label">Email</span>
          <input
            type="email"
            (change)="fixAutoFill($event, pwd.value)"
            placeholder="Ex. pat@example.com"
            formControlName="email"
            name="username"
            required>
        </label>
        <label class="field">
          <span class="field-label">Пароль</span>
          <input
            #pwd
            placeholder="Password"
            formControlName="password"
            type="password"
            name="password"
            required>
        </label>
      </div>
    </div>
  </form>
  <div class="actions">
    <button class="button popup-actions-button purple-background-color" type="button" (click)="onSave()">Login</button>
    <button class="button popup-actions-button cancel-btn-color" type="button" (click)="onCancel()">Cancel</button>
  </div>
</div>
