<div class="popup-container">
  <h1 mat-dialog-title>Авторизація</h1>
  <form [formGroup]="createLoginForm" class="example-form" *ngIf="createLoginForm">
    <div class="create-account-container">
      <div class="side">
        <mat-form-field class="example-full-width margin-error-input" appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput
                 type="email"
                 (change)="fixAutoFill($event, pwd.value)"
                 formControlName="email"
                 name="username"
                 required>
          <mat-error *ngIf="emailControl.hasError('email') && !emailControl.hasError('required')">
            Invalid email
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width margin-error-input" appearance="fill">
          <mat-label>Пароль</mat-label>
          <input matInput #pwd
                 placeholder="Password"
                 formControlName="password"
                 type="password"
                 name="password"
                 required>
          <mat-error *ngIf="passwordControl.hasError('minlength')">
            Enter at least 8 characters
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
  <div mat-dialog-actions class="popup-action-container">
    <button class="button popup-actions-button purple-background-color" mat-flat-button (click)="onSave()">Увiйти</button>
    <button class="button popup-actions-button cancel-color" mat-flat-button (click)="onCancel()">Cкасувати</button>
  </div>
</div>
