<div class="popup-container">
  <form [formGroup]="createTobaccoForm" class="example-form">
    <div class="create-tobacco-container">
      <div class="side">
        <app-image-upload></app-image-upload>
      </div>
      <div class="side">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Назва тютюну</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Бренд</mat-label>
          <mat-select formControlName="brandId">
            <mat-option *ngFor="let item of data.brandsOption " [value]="item.id">
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Важкість</mat-label>
          <mat-select formControlName="heavinessId">
            <mat-option *ngFor="let option of heaviness$ | async" [value]="option.id">
              {{option.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Лiнiйка</mat-label>
          <mat-select formControlName="lineId">
            <mat-option *ngFor="let option of linesOption" [value]="option.id">
              {{option.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="side">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Опис</mat-label>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
      </div>
    </div>
  </form>
  <div mat-dialog-actions class="popup-action-container">
    <button class="button popup-actions-button cancel-color" mat-flat-button (click)="onCancel()">Вiдмiнити</button>
    <button class="button popup-actions-button" mat-flat-button (click)="onSave()">Створити</button>
    <button class="button popup-actions-button" mat-flat-button (click)="onSave(true)">Створити ще</button>
  </div>
</div>
