.popup-container {

  .example-form {
    padding: 0 20px 0 20px;
  }

  .create-tobacco-container {
    display: flex;
    justify-content: space-between;

    .side {
      width: 33%;
      padding: 10px;
    }

    .example-full-width {
      width: 100%;
    }

    .add-line-btn {
      height: 56px;
      margin-bottom: 24px;
    }
  }

  .popup-action-container {
    display: flex;
    padding-bottom: 30px;

    .popup-actions-button {
      height: 42px;
      min-width: 130px;
    }
  }
}

.mat-mdc-dialog-title {
  background-color: #abffbc !important;
  padding-bottom: 18px;
  color: black;
}

.create-color {
  color: black;
}
