.popup-container {

  .example-form {
    padding: 10px;
    max-height: 1000px; // need edit this
    overflow: scroll;
    overflow-x: hidden;
  }

  .create-tobacco-container {
    display: flex;
    justify-content: space-between;

    .side {
      width: 33%;
      padding: 10px;
    }

    .example-full-width {
      width: 100%;
    }

    .add-line-btn {
      height: 58px;
      margin-bottom: 24px;
    }
  }

}
