<div class="popup-container">
  <h1 class="title">Sign Up</h1>
  <form [formGroup]="createSignUpForm" class="example-form">
    <div class="create-account-container">
      <div class="side">
        <label class="field">
          <span class="field-label">Імʼя</span>
          <input type="text" formControlName="firstName">
        </label>
        <label class="field">
          <span class="field-label">Пізвище</span>
          <input type="text" formControlName="lastName">
        </label>
        <label class="field">
          <span class="field-label">Email</span>
          <input type="email" formControlName="email">
        </label>
        <label class="field">
          <span class="field-label">Пароль</span>
          <input type="password" formControlName="password">
        </label>
        <label class="field">
          <span class="field-label">Повторіть пароль</span>
          <input type="password" formControlName="confirmPassword">
        </label>
      </div>
    </div>
  </form>
  <div class="actions">
    <button class="button popup-actions-button purple-background-color" type="button" (click)="onSave()">Create</button>
    <button class="button popup-actions-button cancel-btn-color" type="button" (click)="onCancel()">Cancel</button>
  </div>
</div>
