<div class="remove-popup">
  <h1>Confirmation</h1>
  <div class="remove-container">
    <div class="data-container">
      <div class="text-container">
        <div class="title">Are you sure ?</div>
        <div class="description">Are you sure you want to delete this item ? This action cannot be undone</div>
      </div>
    </div>
    <div class="popup-action-container">
      <button type="button" class="popup-btn cancel-btn-color">Cancel</button>
      <button type="button" class="popup-btn red-bck-color">Delete</button>
    </div>
  </div>
</div>
