.remove-container {
  padding: 0 20px 20px 20px;
}

.mat-mdc-dialog-title {
  background-color: #ffabab !important;
  padding-bottom: 18px;
  color: black;
}

.remove-color {
  background-color: #ffabab !important;
}
