<div class="header">
  @if (isMobile){
    <div class="tool-bar">
      <div class="header-left">
        <div class="tabs-container">
          <a class="tab" routerLink="/brands">
            <mat-icon>person</mat-icon>
            <span class="tab-text">BRANDS</span>
          </a>
          <a class="tab" routerLink="/tobaccos">
            <mat-icon>person</mat-icon>
            <span class="tab-text">TOBACCOS</span>
          </a>
        </div>
      </div>
      <div class="header-right">
        <div class="tabs-container">
          <div class="app-container">
            <app-them-picker [options]="options$ | async"
                             (themeChange)="themeChangeHandler($event)"></app-them-picker>
          </div>
          <div *ngIf="user; else unLogged" class="tab tab-user" matTooltip="My Account"
               [matMenuTriggerFor]="userAccountMenu">
            <div class="user-data">
              <div class="user-pictures"></div>
            </div>
          </div>
          <ng-template #unLogged>
            <div class="tab" matTooltip="My Account" [matMenuTriggerFor]="userAccountMenu">
              <mat-icon>account_circle</mat-icon>
            </div>
          </ng-template>
          <mat-menu #userAccountMenu [overlapTrigger]="false" yPosition="below">
            <button *ngIf="!user" mat-menu-item (click)="signUp()">
              <mat-icon>person</mat-icon>
              <span>Sign In</span>
            </button>
            <button *ngIf="!user" mat-menu-item (click)="login()">
              <mat-icon>person</mat-icon>
              <span>Login</span>
            </button>
            <div *ngIf="user">
              <button mat-menu-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                Logout
              </button>
            </div>
          </mat-menu>
        </div>
      </div>
    </div>
  }
  @else {
    <div class="tool-bar">
      <div class="header-left">
        <span class="logo">HookahHub</span>
      </div>
      <div class="header-right">
        <div class="tabs-container">
          <div class="app-container">
            <app-them-picker [options]="options$ | async"
                             (themeChange)="themeChangeHandler($event)"></app-them-picker>
          </div>
          <div *ngIf="user; else unLogged" class="tab tab-user" matTooltip="My Account"
               [matMenuTriggerFor]="userAccountMenu">
            <div class="user-data">
              <div class="user-pictures"></div>
              <span class="user-name">{{ user.name }}</span>
            </div>
          </div>
          <ng-template #unLogged>
            <div class="tab" matTooltip="My Account" [matMenuTriggerFor]="userAccountMenu">
              <mat-icon>account_circle</mat-icon>
            </div>
          </ng-template>
          <mat-menu #userAccountMenu [overlapTrigger]="false" yPosition="below">
            <button *ngIf="!user" mat-menu-item (click)="signUp()">
              <mat-icon>person</mat-icon>
              <span>Sign In</span>
            </button>
            <button *ngIf="!user" mat-menu-item (click)="login()">
              <mat-icon>person</mat-icon>
              <span>Login</span>
            </button>
            <button mat-menu-item routerLink="#">
              <mat-icon>settings</mat-icon>
              <span>Settings</span>
            </button>
            <button mat-menu-item routerLink="#">
              <mat-icon>help</mat-icon>
              <span>Help</span>
            </button>
            <div *ngIf="user">
              <mat-divider></mat-divider>
              <button mat-menu-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                Logout
              </button>
            </div>
          </mat-menu>
        </div>
      </div>
    </div>
  }
</div>
<div class="main-data-container">
  @if (!isMobile) {
    <aside class="sidebar-container">
      <div class="container">
        <nav>
          <a class="tab" routerLink="/brands">
            <mat-icon class="icon material-icons-outlined">storefront</mat-icon>
            @if (currentScreenSize === Screen.Large || currentScreenSize === Screen.XLarge) {
              <span class="tab-text">Brands</span>
            }
          </a>
          <a class="tab" routerLink="/tobaccos">
            <lord-icon
              src="https://cdn.lordicon.com/ccmaxgle.json"
              trigger="hover"
              colors="primary:#939393,secondary:#939393"
              style="width:25px;height:25px">
            </lord-icon>
            @if (currentScreenSize === Screen.Large || currentScreenSize === Screen.XLarge) {
              <span class="tab-text">Tobaccos</span>
            }
          </a>
          <a class="tab" routerLink="/tags" *ngIf="user?.isAdmin">
            <mat-icon class="icon material-icons-outlined">label</mat-icon>
            @if (currentScreenSize === Screen.Large || currentScreenSize === Screen.XLarge) {
              <span class="tab-text">Tags</span>
            }
          </a>
          <a class="tab" routerLink="/constructor" *ngIf="user?.isAdmin || !inDevelop">
            <lord-icon
              src="https://cdn.lordicon.com/jdalicnn.json"
              trigger="hover"
              colors="primary:#939393,secondary:#939393"
              style="width:25px;height:25px">
            </lord-icon>
            @if (currentScreenSize === Screen.Large || currentScreenSize === Screen.XLarge) {
              <span class="tab-text">Constructor</span>
            }
          </a>
          <a class="tab" routerLink="/mixes" *ngIf="user?.isAdmin || !inDevelop">
            <lord-icon
              src="https://cdn.lordicon.com/abwrkdvl.json"
              trigger="hover"
              colors="primary:#939393,secondary:#939393"
              style="width:25px;height:25px">
            </lord-icon>
            @if (currentScreenSize === Screen.Large || currentScreenSize === Screen.XLarge) {
              <span class="tab-text">Top mixes</span>
            }
          </a>
        </nav>
      </div>
    </aside>
  }
  <div class="component-container">
    <router-outlet></router-outlet>
  </div>
</div>
