.toolbar-item-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  //margin: 20px;
  border-radius: 30px;
  width: auto;
  color: white;
}

.app-container {
  height: 90%;
  margin: 0;
}

.tabs{
  color: white;
  border-radius: 15px;

  .tab:hover{
    background-color: rgba(202, 202, 202, 0.55) !important;
  }
}

.active-link {
  color: #F20B22;
}

.main-container {
  padding-top: 20px;
}
