<div class="main-container">
  <div class="header-container">
    <div *ngIf="isMobileHeader; else desktopHeader" class="tool-bar">
      <div class="header-left">
        <div class="tabs-container">
          <a class="tab" routerLink="/brands" >
             <mat-icon>person</mat-icon>
            <span class="tab-text">BRANDS</span>
          </a>
          <a class="tab" routerLink="/tobaccos" >
             <mat-icon>person</mat-icon>
            <span class="tab-text">TOBACCOS</span>
          </a>
        </div>
      </div>
      <div class="header-right">
        <div class="tabs-container">
          <div class="app-container">
            <app-them-picker [options]="options$ | async"
                             (themeChange)="themeChangeHandler($event)"></app-them-picker>
          </div>
          <div *ngIf="user; else unLogged" class="tab tab-user" matTooltip="My Account"
               [matMenuTriggerFor]="userAccountMenu">
            <div class="user-data">
              <div class="user-pictures"></div>
            </div>
          </div>
          <ng-template #unLogged>
            <div class="tab" matTooltip="My Account" [matMenuTriggerFor]="userAccountMenu">
              <mat-icon>account_circle</mat-icon>
            </div>
          </ng-template>
          <mat-menu #userAccountMenu [overlapTrigger]="false" yPosition="below">
            <button *ngIf="!user" mat-menu-item (click)="signUp()">
              <mat-icon>person</mat-icon>
              <span>Sign In</span>
            </button>
            <button *ngIf="!user" mat-menu-item (click)="login()">
              <mat-icon>person</mat-icon>
              <span>Login</span>
            </button>
            <div *ngIf="user">
              <button mat-menu-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                Logout
              </button>
            </div>
          </mat-menu>
        </div>
      </div>
    </div>
    <ng-template #desktopHeader>
      <div class="tool-bar">
        <div class="header-left">
          <span class="logo">HookahHub</span>
          <div class="tabs-container">
            <a class="tab" routerLink="/brands" >
              <span class="tab-text">BRANDS</span>
            </a>
            <a class="tab" routerLink="/tobaccos" >
              <span class="tab-text">TOBACCOS</span>
            </a>
            <a class="tab" routerLink="/tags"  *ngIf="user?.isAdmin">
              <span class="tab-text">TAGS</span>
            </a>
            <a class="tab" routerLink="/constructor" >
              <span class="tab-text">CONSTRUCTOR</span>
            </a>
            <a class="tab" routerLink="/mixes" >
              <span class="tab-text">TOP MIXES</span>
            </a>
          </div>
        </div>
        <div class="header-right">
          <div class="tabs-container">
            <div class="app-container">
              <app-them-picker [options]="options$ | async"
                               (themeChange)="themeChangeHandler($event)"></app-them-picker>
            </div>
            <div *ngIf="user; else unLogged" class="tab tab-user" matTooltip="My Account" [matMenuTriggerFor]="userAccountMenu">
              <div class="user-data">
                <div class="user-pictures"></div>
                <span class="user-name">{{user.name}}</span>
              </div>
            </div>
            <ng-template #unLogged>
              <div class="tab" matTooltip="My Account" [matMenuTriggerFor]="userAccountMenu">
                <mat-icon>account_circle</mat-icon>
              </div>
            </ng-template>
            <mat-menu #userAccountMenu [overlapTrigger]="false" yPosition="below">
              <button *ngIf="!user" mat-menu-item (click)="signUp()">
                <mat-icon>person</mat-icon>
                <span>Sign In</span>
              </button>
              <button *ngIf="!user" mat-menu-item (click)="login()">
                <mat-icon>person</mat-icon>
                <span>Login</span>
              </button>
              <button mat-menu-item routerLink="#">
                <mat-icon>settings</mat-icon>
                <span>Settings</span>
              </button>
              <button mat-menu-item routerLink="#">
                <mat-icon>help</mat-icon>
                <span>Help</span>
              </button>
              <div *ngIf="user">
                <mat-divider></mat-divider>
                <button mat-menu-item (click)="logout()">
                  <mat-icon>exit_to_app</mat-icon>
                  Logout
                </button>
              </div>
            </mat-menu>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
  <div class=body-container>
    <mat-tab-nav-panel #tabPanel>
      <router-outlet></router-outlet>
    </mat-tab-nav-panel>
  </div>
  <div class=footer-container></div>
</div>

