.flex {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0
}

.header {
  padding: 20px 20px 0 20px;
  //background: green;
}

.h100 {
  padding: 20px;
  //background: yellow;
  flex-grow: 3;
}

.footer {
  //background: red;
}

.toolbar-item-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  border-radius: 30px;
  width: auto;
  color: white;
}

.app-container {
  height: 90%;
  margin: 0;
}

.tabs{
  color: white;
  border-radius: 15px;

  .tab:hover{
    background-color: rgba(202, 202, 202, 0.55) !important;
  }
}

.active-link {
  color: #F20B22;
}

.main-container {
  height: 100%;
}
