@import '../../../../scss/variables-dark';

.card-container {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  @apply grid;
  padding: 20px 0 20px 0;

  .brand-card {
    border-radius: 15px;
    box-shadow: none;
    cursor: pointer;
    transition: transform .5s;
    color: #d3d3d3;
    background-color: $card-background-color;

    .title {
      font-size: 1.1em;
      text-align: center;
    }

    .rating-container {
      display: flex;
    }

    .description {
      font-size: 14px;
      line-height: 18px;
    }
  }

  .brand-card:hover {
    transform: scale(1.1);
  }

}

.mat-mdc-paginator {
  border-radius: 15px;
}
