<div class="tobacco-container">
  @if(isLoadingResults){
    <mat-progress-bar mode="query"></mat-progress-bar>
    <div class="card-container">
      @for (skeletonCards of skeletonCount; track skeletonCards) {
        <mat-card class="brand-card">
          <a class="image-link">
            <ngx-skeleton-loader class="brand-card-image" count="1" [theme]="skeletonImageStyle"></ngx-skeleton-loader>
          </a>
          <div class="info">
            <div class="title">
              <a class="title-link"><ngx-skeleton-loader count="1" [theme]="skeletonLineStyle"></ngx-skeleton-loader></a>
            </div>
            <div class="description"><ngx-skeleton-loader count="1" [theme]="skeletonLineStyle"></ngx-skeleton-loader></div>
            <div class="description"><ngx-skeleton-loader count="1" [theme]="skeletonLineStyle"></ngx-skeleton-loader></div>
          </div>
        </mat-card>
      }
    </div>
  } @else {
    <div class="card-container">
      @for (tobacco of tobaccos; track tobacco) {
        <mat-card class="brand-card">
          <a class="image-link" [routerLink]="['/tobaccos/tobacco/', tobacco.id]">
            <img mat-card-image class="image" src="{{tobacco.image.link}}" alt="image error">
          </a>
          <div class="info">
            <div class="title">
              <a class="title-link" [routerLink]="['/tobaccos/tobacco/', tobacco.id]"> {{tobacco.name}}</a>
            </div>
            <div class="description">{{tobacco.description}}</div>
            <div class="rating-container">
              <star-rating
                [showHalfStars]="true"
                [starType]="'svg'"
                [rating]="tobacco.rating"
                [readOnly]="true">
              </star-rating>
              {{ tobacco.rating | number:'1.1-2' }}
            </div>
          </div>
        </mat-card>
      }
    </div>
  }
  <mat-paginator
    (page)="handlePageEvent($event)"
    [length]="totalRows"
    [pageIndex]="currentPage"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    aria-label="Select page">
  </mat-paginator>
</div>


