<div class="tobacco-container">
  <mat-progress-bar *ngIf="isLoadingResults" mode="query"></mat-progress-bar>
  <div class="card-container">
    <mat-card class="tobacco-card" *ngFor="let tobacco of tobaccos" (click)="onView(tobacco.id)">
      <img mat-card-image class="image" src="{{tobacco.image.link}}" alt="image error">
      <mat-card-content>
        <mat-card-title class="title">{{tobacco.name}}</mat-card-title>
        <div class="rating-container">
          <star-rating
            [showHalfStars]="true"
            [starType]="'svg'"
            [rating]="tobacco.rating"
            [readOnly]="true">
          </star-rating>
          {{tobacco.rating | number:'1.1-2'}}
        </div>
        <div class="description">
          <p>
            {{tobacco.description}}
          </p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <mat-paginator
    (page)="handlePageEvent($event)"
    [length]="totalRows"
    [pageIndex]="currentPage"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    aria-label="Select page">
  </mat-paginator>
</div>


