//@import 'scss/variables-purple';
//@import 'scss/variables-dark';
//@import 'scss/material-colors-override';
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
@import 'ngx-toastr/toastr';

$color-negative-rating: #FF6861 !default;
$color-ok-rating: #FF9500 !default;
$color-positive-rating: #FFD426 !default;
$color-default-rating: #969696 !default;

@import 'css-star-rating/scss/star-rating';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'SF Pro Display', "sans-serif";
}


::-webkit-scrollbar {
  width: 8px;
  background: #282828;
}

::-webkit-scrollbar-track {
  //box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  margin: 2px;
  //background: #565656;
  background: #7A1E8A;
  border-radius: 10px;
}

.icon {
  cursor: pointer;
}

.blurred {
  backdrop-filter: blur(15px);
}


.btn-purple-grad {
  background-image: linear-gradient(to right, #7A1E8A 0%, #7826be 51%, #7A1E8A  100%);
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: none;

  &:hover{
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }
}

.popup-action-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 20px;

  .popup-btn {
    width: 185px !important;
    height: 55px !important;
    border-radius: 10px !important;
    font-family: Roboto;
    font-size: 14.6px;
    border: none !important;
  }
}

.table-action-container {
  display: flex;
  gap: 10px
}



