//@import 'ngx-toastr/toastr';
//
//// if you'd like to use it without importing all of bootstrap it requires
//@import 'bootstrap/scss/functions';
//@import 'bootstrap/scss/variables';
//@import 'bootstrap/scss/mixins';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #303030;
}

.button {
  border-radius: 16px !important;
}

.mat-elevation-z8 {
  box-shadow: none;
}

.mat-mdc-dialog-surface {
  border-radius: 20px !important;
}

.mat-mdc-text-field-wrapper {
  border-radius: 16px !important;
}

//.mat-warn {
//  background-color: rgb(255 0 0 / 55%) !important;
//}

.mat-mdc-dialog-actions {
  justify-content: center !important;
}

//.e-toast-container .e-toast .e-toast-message .e-toast-content {
//  color: aqua;
//  font-size: 13px;
//  font-weight: normal;
//}

.icon {
  cursor: pointer;
}

.delete {
  color: #ae4a4a;
}

.edit {
  color: #4a57ae;
}

.edit-color {
  background-color: #abddff !important;
}

.create-color {
  background-color: #abffbc !important;
}

.cancel-color {
  background-color: #545454 !important;
}

.blurred {
  backdrop-filter: blur(15px);
}

.mat-mdc-paginator {
  border-top: 1px solid #616161;
}
