@import 'ngx-toastr/toastr';
@import 'scss/variables';
@import 'scss/material-colors-override';

$color-negative-rating: #ae4a4a !default;
$color-ok-rating: #ff8000 !default;
$color-positive-rating: #ffa900 !default;
$color-default-rating: #c8c851 !default;



@import 'css-star-rating/scss/star-rating';
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $background-color;
}

.button {
  border-radius: 16px !important;
  width: 200px !important;
  height: 50px;
}

.icon {
  cursor: pointer;
}

.delete {
  color: #ae4a4a;
}

.edit {
  color: #4a57ae;
}

.edit-color {
  background-color: #abddff !important;
}

.create-color {
  background-color: #abffbc !important;
}

.cancel-color {
  background-color: #545454 !important;
}

.blurred {
  backdrop-filter: blur(15px);
}
