.button {
  background-color: rgb(255 255 255 / 50%) !important;
  border-radius: 14px !important;
}

table, th, td {
  background-color: rgb(255 255 255 / 0%) !important;
  box-shadow: none !important;
}

tr {
  background-color: rgb(255 255 255 / 0%) !important;
}

.mat-mdc-dialog-surface {
  background-color: rgb(255 255 255 / 80%) !important;
  border-radius: 20px !important;
}

.mat-mdc-text-field-wrapper {
  border-radius: 14px !important;
}

.mat-warn {
  background-color: rgb(255 0 0 / 55%) !important;
}

.mat-mdc-dialog-actions {
  justify-content: center !important;
}

.cancel-color {
  color: #757575;
}

mat-paginator {
  background-color: rgb(255 255 255 / 0%) !important;
}

.mat-mdc-text-field-wrapper {
  background-color: rgb(255 255 255 / 0%) !important;
}

.mat-elevation-z8 {
  box-shadow: none;
}

.e-toast-container .e-toast .e-toast-message .e-toast-content {
  color: aqua;
  font-size: 13px;
  font-weight: normal;
}
