$background-color: #1E1E1E;
$card-background-color: #262626;
$button-default-color: linear-gradient(to right,rgba(78,78,78,.5),rgba(78,78,78,.5)) !default;
$button-default-color2: rgba(78,78,78,.5) !default;
$main-element-color: #262626 !default;
$border-color: #2e2e2e;

