:root {
  --background-main: #1E1E1E;
  --border-color: #2e2e2e;
  --background-color: #262626;
  --card-description-color: #8e8e8e;
  --red: #FF453A;
  --green: #30D158;
  --blue: #0A84FF;
  --cyan: #5DE6FF;
  /*--purple: #DA8FFF;*/
  --purple: #7a1e8a;
}

.purple-background-color {
  background-color: var(--purple) !important;
}

.cyan-color {
  color: var(--cyan);
}

.blue-color {
  color: var(--blue);
}

.red-color {
  color: var(--red);
}

body {
  background-color: var(--background-main);
}

.tool-bar {
  /*background-color: #232323;*/
  background-color: var(--purple);
  color: white;
  border: 1px solid #2e2e2e;

  .tab {
    color: white;

    &:hover {
      /*background-color: #3d3d3d;*/
      /*background-color: #6B2976;*/
      background-color: #9233a2;
    }
  }
}

.tool-bar-mobile {
  /*background-color: #232323;*/
  background-color: var(--purple);
  color: white;
  border: 1px solid #2e2e2e;

  .tab {
    color: white;

    &:hover {
      /*background-color: #3d3d3d;*/
      /*background-color: #6B2976;*/
      background-color: #9233a2;
    }
  }
}

.mat-mdc-card {
  box-shadow: none;
  color: #d3d3d3;
  border: 1px solid var(--border-color) !important;
  background-color: var(--background-color) !important;

  .brand-card-image {
    height: 100%;
    width: 100%;
  }

  .title {
    color: white;
  }

  .description {
    color: var(--card-description-color);
  }
}

.popup-container {
  background-color: var(--background-main);

  .mat-mdc-dialog-title {
    background-color: var(--purple); !important;
    color: black !important;
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #262626;
  }
}




/*    MATERIAL OVERRIDE    */

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #262626;
}

.mdc-text-field--disabled.mdc-text-field--filled {
  background-color: #262626;
}

.mat-mdc-unelevated-button:not(:disabled) {
  background-image: linear-gradient(to right, rgba(78, 78, 78, .5), rgba(78, 78, 78, .5));
}

.mat-mdc-table {
  background-color: #262626;
}

.mat-mdc-paginator-container {
  background-color: #262626;
}

.cdk-overlay-pane {
  background-color: #262626;
}

.mat-mdc-select-panel-above {
  background-color: #262626;
}

.mdc-list-item__primary-text {
  color: white;
}

.mat-button-toggle.mat-button-toggle-appearance-standard {
  background-color: #262626;
}

.mat-mdc-text-field-wrapper {
  border: 1px solid #2e2e2e;
}

mat-paginator {
  .mat-mdc-text-field-wrapper {
    border: none;
  }
}

.ng-trigger {
  background-color: #262626;
}

.mat-mdc-paginator-page-size-select {
  background-color: rgba(78, 78, 78, .5);
}

.mat-elevation-z8 {
  box-shadow: none;
}

.mat-mdc-dialog-surface {
  border-radius: 20px !important;
  /*background-color: red;*/
}

/*buttons*/
.mat-mdc-text-field-wrapper {
  border-radius: 8px !important;
}

/*.mat-warn {*/
/*  background-color: rgb(255 0 0 / 55%) !important;*/
/*}*/

.mat-mdc-dialog-actions {
  justify-content: center !important;
}

.mat-mdc-paginator {
  border-top: 1px solid #616161;
}
